site_name: fMROI
theme:
  name: readthedocs
  highlightjs: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
# added by andre
nav:
    - 'index.md'
    - 'installation.md'
    - 'overview.md'
    - 'roi_creation.md'
    - 'Extra Tools': 'extra_tools.md'
    - 'Importing new features': 'importing_features.md'
    - 'developers.md'
    - 'contact.md'
